{% load static %}
<!DOCTYPE html>
<html lang="en">

  <head>
    {# Load the tag library #}
    {% load bootstrap4 %}

    {# Load CSS and JavaScript #}
    {% bootstrap_css %}
    {% bootstrap_javascript jquery='full' %}


    {% bootstrap_messages %}


    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="OEM Configuration (temporary user)" >

    <title>Ресторан в Чите People's rest</title>
	 <meta name="description" content="Ресторан в Чите">
	 <meta name="robots" content="noyaca"/>

    <!-- Custom fonts for this template -->
    <link href="{% static 'vendor/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Cabin:700' rel='stylesheet' type='text/css'>

    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="{% static 'css/grayscale.css' %}">

  </head>

  <body id="page-top">

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
      <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="#page-top">People's rest</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">

          <i class="fa fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#about">О компании</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#download">Заказ</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#contact">Контакты</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Intro Header -->
    <header id="video_back" class="masthead" data-vide-bg="{% static '/video/peoples'%}">
      <div class="intro-body">
        <div class="container">
          <div class="row">
            <div class="col-lg-8 mx-auto">
              <h1 class="brand-heading">People's rest</h1>
              <p class="intro-text">Пятница - начинается в понедельник.
                <br>Начни ее с нами.</p>
              <a href="#about" class="btn btn-circle js-scroll-trigger">
                <i class="fa fa-angle-double-down animated"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </header>

    <!-- About Section -->
    <section id="about" class="content-section text-center">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto">
            <h2>О компании</h2>
            <p>У нас разумная «золотая середина» в ценах. Чтобы поесть дешевле – это где-то чуть восточнее, за углом, в «фаст-фуде». Чтобы отведать супер-изысканные дорогие блюда, посыпанные пищевым золотом, это где-то чуть западнее, например, в Париже, в ресторане с тремя мишленовскими звездами. У нас же цены соразмерны с качеством продуктов и работой поваров. И ни каких астрономических накруток, взятых из воздуха.</p>
          </div>
        </div>
      </div>
    </section>

    <!-- Download Section -->
    <section id="download" class="download-section content-section text-center">
      <div class="container">
        <div class="col-lg-8 mx-auto">
          <h2>Заказ</h2>
          <p>С помощью нашего сайта ты можешь оформить заказ на дом уже сейчас.</p>
          <p>Доставка осуществляется с 12:00 до 00:00</p>
          <a href="{%  url 'store:index'  %}" class="btn btn-default btn-lg">Оформить заказ</a>
        </div>
      </div>
    </section>
    <!-- Contact Section -->
    <section id="contact" class="content-section text-center">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto">
            <h2>Контакты</h2>
            <p>Наш адрес: г. Чита, ул. Бабушкина 104, ТЦ &#171;Караван&#187;,  3 этаж.<br/>
              Для бронирования столика и уточнения информации Вы можете связаться с нами по номеру телефона 35-37-01
              . Также подпишитесь на наши страницы в социальных сетях.</p>
            <ul class="list-inline banner-social-buttons">
              <li class="list-inline-item">
                <a href="https://vk.com/grillbar_peoples" class="btn btn-default btn-lg">
                  <i class="fa fa-vk fa-fw"></i>
                  <span class="network-name">VK</span>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="https://www.instagram.com/peoples_rest/" class="btn btn-default btn-lg">
                  <i class="fa fa-instagram fa-fw"></i>
                  <span class="network-name">Instagram</span>
                </a>
              </li>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </section>

    <!-- Map Section -->
    <div id="map"></div>

    <!-- Footer -->
    <footer>
      <div class="container text-center">
        <p>Copyright &copy; People's rest 2018-{{ year }}</p>
      </div>
    </footer>

    <!-- Plugin JavaScript -->
    <script type="text/javascript" src="{% static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script>

    <!-- Google Maps API Key - Use your own API key to enable the map feature. More information on the Google Maps API can be found at https://developers.google.com/maps/ -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBnVn03VypxfxjYYeJeSdJWzdz-MPIi0wE&sensor=false"></script>

    <!-- Custom scripts for this template -->
    <script type="text/javascript" src="{% static 'js/grayscale.js' %}"></script>
    <script src="http://atuin.ru/demo/vide/jquery.vide.js"></script>

    <script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-156009912-1');
</script>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-156009912-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-156009912-1');
</script>


<script type="text/javascript">
document.write('<a style="display:none;" href="//www.liveinternet.ru/click" '+
'target="_blank"><img src="//counter.yadro.ru/hit?t11.6;r'+
escape(document.referrer)+((typeof(screen)=='undefined')?'':
';s'+screen.width+'*'+screen.height+'*'+(screen.colorDepth?
screen.colorDepth:screen.pixelDepth))+';u'+escape(document.URL)+
';h'+escape(document.title.substring(0,150))+';'+Math.random()+
'" alt="" title="LiveInternet: показано число просмотров за 24'+
' часа, посетителей за 24 часа и за сегодня" '+
'border="0" width="88" height="31"><\/a>')
</script>

<script type="text/javascript">

</script>

  </body>

</html>
